<main>
    <div class="intro">
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Post</p>
        <p class="work-text">Posts are organized by subject into user-created boards called "communities" or "subreddits." Comments are key, and they are arguably the most important and often, most entertaining part of the site.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Comment</p>
        <p class="work-text">Commenting is one of SocialSphere's core features, and it is the primary way for users to interact with each other, besides private messaging. Comments, like posts, can be voted on by users and are then ranked accordingly.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Vote</p>
        <p class="work-text">Voting is where SocialSphere starts to really show its true colors. The community-mentality of SocialSphere comes into the picture when members can decide if something deserves an up or down vote. Voting is the idea that the community can choose if something sinks or swims.
        </p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About SocialSphere</h2>
        <p>SocialSphere is home to thousands of communities, endless conversation, and authentic human connection. Whether you're into breaking news, sports, TV fan theories, or a never-ending stream of the internet's cutest animals, there's a community on SocialSphere for you. </p>
      </div>
      <img src="https://www.redditinc.com/assets/images/site/home-streetwear.png" alt="me">
    </div>
</main>

  <footer class="footer">
    <div class="copy">&copy; 2023 Developer</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </footer>
