<div class="card">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>
        <br>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="validateControl('password') && hasError('password', 'invalidPassword')" class="alert alert-danger" role="alert">
            <span>
                <p>Password must be at least 8 characters. </p>
                <p>Password must have at least one non-alphanumeric character. </p>
                <p>Password must have at least one upper case letter</p>
            </span>
        </div>

        <div *ngIf="validateControl('password') && hasError('password', 'required')" class="alert alert-danger" role="alert">
            <span><p>Password is required</p></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
        </div>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="mb-3 row">
                <label for="password" class="col-form-label col-sm-2">Password:</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>